
# R local files
run_install.R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rprofile
.DS_Store
.httr2
run_install.R
README.Rmd
docs
inst/doc
vignettes/*.R


# Environment files (if you use them)
.env
*.env

# Logs and temp files
*.log
*.tmp

/doc/
/Meta/
.Rdata
.httr-oauth
.quarto
.Rproj.user

# Downloaded data directories
geo_batch_data/
test_geo/
geo_data/
vignettes/geo_data/

# Data files
*.txt
*.gz
*.tar
*.zip
